@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&display=swap');

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: 'Poppins', sans-serif;


}
.container{

    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(COMIENDO.jpg);
    background-repeat: no-repeat;
   background-size: 100%;
    min-height: 100vh;
    display: flex;
align-items: center;
}


.menu{

    position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;


}



.menu .navbar ul li{
    position:relative ;
    float: left;
    
    
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
  color: blanchedalmond;
    display: block;
    font-weight: 600;
}



    .menu .navbar ul li a:hover {
        color: chartreuse;

    }

.menu-icono{
width: 25px;


}
.header{
    font: size 95px; ;
    color: rgb(10, 202, 10);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.btn-1{
    display:center ;
    padding: 8px  20px;
    background-color: rgb(0, 12, 12);
    color: blueviolet;
    text-transform: capitalize;
}
.btn-1:hover{
    background-color: blue;
}


.footer{
    padding: 5px  5px;
    background-color: black;
    text-align: center;

}
.footer-content{

display: flex;
text-align: center;

}
.link h3{
font-size: 18px;
color: beige;
margin-bottom: 15px;
}
.link a{

font-size: 16px;
color: bisque;
display: block;
margin-bottom: 15px;
}


body{

    background-color: chartreuse;
}